
.depicter-revert.depicter-20 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-20-element-23{
	background-color:#FF7272;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-20-element-23:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-20-element-23:not(.depicter-hover-off):hover {
	background-color:#FF2400;
	border-color:#FFF;
}
.depicter-20-element-23 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-20-element-23:hover .depicter-symbol-container{
	fill:#FFF;
}
.depicter-revert .depicter-20-element-24{
	background-color:#FF7272;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-20-element-24:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-20-element-24:not(.depicter-hover-off):hover {
	background-color:#E60004;
	border-color:#FFF;
}
.depicter-20-element-24 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-20-element-24:hover .depicter-symbol-container{
	fill:#FFF;
}
.depicter-revert .depicter-20-element-115{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-20-element-116{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	transform:scaleX(-1);
	border-radius:50%;
}
.depicter-revert .depicter-20-element-114{
	font-size:81px;
	color:#EE0606;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-113{
	padding:11px 25px 10px 27px;
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:300;
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
	background-color:#202020;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-113:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-20-element-113:not(.depicter-hover-off):hover {
	color:#ffffff;
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
	transform:scale(0.95);
	background-color:#00d9a6;
}
.depicter-revert .depicter-20-element-112{
	font-size:15px;
	color:#FFF;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-111{
	font-size:57px;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-110{
	font-size:81px;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-109{
	font-size:16px;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-108{
	background-color:#7E7E7E;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-107{
	background-color:#474747;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-106{
	background-color:#474747;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-105{
	background-color:#474747;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-104{
	background-color:#474747;
	border-radius:500px;
}
.depicter-revert .depicter-20-section-103 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-20-element-143{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-20-element-144{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	transform:scaleX(-1);
	border-radius:50%;
}
.depicter-revert .depicter-20-element-142{
	font-size:81px;
	color:#EE0606;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-141{
	padding:11px 25px 10px 27px;
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:300;
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
	background-color:#202020;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-141:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-20-element-141:not(.depicter-hover-off):hover {
	color:#ffffff;
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
	transform:scale(0.95);
	background-color:#00d9a6;
}
.depicter-revert .depicter-20-element-140{
	font-size:15px;
	color:#FFF;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-139{
	font-size:81px;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-138{
	font-size:81px;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-137{
	font-size:16px;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-20-element-136{
	background-color:#7E7E7E;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-135{
	background-color:#474747;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-134{
	background-color:#474747;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-133{
	background-color:#474747;
	border-radius:30px;
}
.depicter-revert .depicter-20-element-132{
	background-color:#474747;
	border-radius:500px;
}
.depicter-revert .depicter-20-section-131 .depicter-section-background{
	background-color:#000;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-20-element-23{
	background-color:#DBDBDB;
}
.depicter-20-element-23 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-20-element-24{
	background-color:#DBDBDB;
}
.depicter-20-element-24 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-20-element-115{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-20-element-116{
	transform:scaleX(-1);
}
.depicter-revert .depicter-20-element-114{
	font-size:70px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-20-element-113{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-20-element-111{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-20-element-110{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-20-element-109{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-20-section-103 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-20-element-143{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-20-element-144{
	transform:scaleX(-1);
}
.depicter-revert .depicter-20-element-142{
	font-size:70px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-20-element-141{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-20-element-139{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-20-element-138{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-20-element-137{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-20-section-131 .depicter-section-background{
	background-color:#FAFAFA;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-20-element-23{
	background-color:#DBDBDB;
}
.depicter-20-element-23 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-20-element-24{
	background-color:#DBDBDB;
}
.depicter-20-element-24 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-20-element-115{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-20-element-116{
	transform:scaleX(-1);
}
.depicter-revert .depicter-20-element-114{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-20-element-113{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-20-element-112{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-20-element-111{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-20-element-110{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-20-element-109{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-20-section-103 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-20-element-143{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-20-element-144{
	transform:scaleX(-1);
}
.depicter-revert .depicter-20-element-142{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-20-element-141{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-20-element-140{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-20-element-139{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-20-element-138{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-20-element-137{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-20-section-131 .depicter-section-background{
	background-color:#FAFAFA;
}

}
