
.depicter-revert .depicter-44-element-24{
	border-width:2px;
	border-style:solid;
	border-color:#AAAAAA;
	border-radius:50px;
}
.depicter-revert .depicter-44-element-24:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-44-element-24:not(.depicter-hover-off):hover {
	background-color:#FFF;
	border-color:transparent;
}
.depicter-44-element-24 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.5s;
}
.depicter-44-element-24:hover .depicter-symbol-container{
	fill:#000;
}
.depicter-revert .depicter-44-element-25{
	border-width:2px;
	border-style:solid;
	border-color:#AAAAAA;
	border-radius:50px;
}
.depicter-revert .depicter-44-element-25:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-44-element-25:not(.depicter-hover-off):hover {
	background-color:#FFF;
	border-color:transparent;
}
.depicter-44-element-25 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.5s;
}
.depicter-44-element-25:hover .depicter-symbol-container{
	fill:#000;
}
.depicter-revert .depicter-44-element-204:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-204:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-203:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-203:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-202:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-202:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-201:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-201:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-8{
	border-radius:46px;
}
.depicter-revert .depicter-44-element-7{
	font-size:17px;
	text-align:center;
	color:#FF2759;
	font-family:"Raleway";
	font-weight:500;
	text-transform:capitalize;
	background-color:#FFF;
	border-radius:60px;
}
.depicter-revert .depicter-44-element-7:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-44-element-7:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#FF2759;
	border-color:#000;
}
.depicter-revert .depicter-44-element-6{
	font-size:18px;
	text-align:left;
	color:#CBCBCB;
	font-family:"Raleway";
	font-weight:400;
	line-height:160%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-5{
	font-size:80px;
	text-align:left;
	color:#FF2759;
	font-family:"Raleway";
	font-weight:600;
	line-height:110%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-4{
	font-size:80px;
	text-align:left;
	color:#FF2759;
	font-family:"Raleway";
	font-weight:600;
	line-height:110%;
	text-transform:capitalize;
	direction:rtl;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-3{
	font-size:80px;
	text-align:left;
	color:#FFF;
	font-family:"Raleway";
	font-weight:600;
	line-height:114%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-2{
	font-size:17px;
	text-align:left;
	color:#FFBD10;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-9{
	box-shadow:0px 10px 40px 0px rgba(45, 253, 166, 0.2);
	transform:rotate(5deg);
	background-image:linear-gradient(0deg, #81F 0%, #2CFFA5 100%);
	border-radius:45px;
}
.depicter-revert .depicter-44-section-1 .depicter-section-background{
	background-color:#0C1014;
}
.depicter-revert .depicter-44-element-199:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-199:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-198:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-198:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-197:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-197:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-196:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-196:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-46{
	border-radius:46px;
}
.depicter-revert .depicter-44-element-32{
	font-size:17px;
	text-align:center;
	color:#FF2759;
	font-family:"Raleway";
	font-weight:500;
	text-transform:capitalize;
	background-color:#FFF;
	border-radius:60px;
}
.depicter-revert .depicter-44-element-32:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-44-element-32:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#FF2759;
	border-color:#000;
}
.depicter-revert .depicter-44-element-31{
	font-size:18px;
	text-align:left;
	color:#CBCBCB;
	font-family:"Raleway";
	font-weight:400;
	line-height:160%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-30{
	font-size:80px;
	text-align:left;
	color:#FF2759;
	font-family:"Raleway";
	font-weight:600;
	line-height:110%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-29{
	font-size:80px;
	text-align:left;
	color:#FF2759;
	font-family:"Raleway";
	font-weight:600;
	line-height:110%;
	text-transform:capitalize;
	direction:rtl;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-28{
	font-size:80px;
	text-align:left;
	color:#FFF;
	font-family:"Raleway";
	font-weight:600;
	line-height:114%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-27{
	font-size:17px;
	text-align:left;
	color:#FFBD10;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-34{
	box-shadow:0px 10px 40px 0px rgba(45, 253, 166, 0.2);
	transform:rotate(5deg);
	background-image:linear-gradient(0deg, #81F 0%, #2CFFA5 100%);
	border-radius:45px;
}
.depicter-revert .depicter-44-section-26 .depicter-section-background{
	background-color:#0C1014;
}
.depicter-revert .depicter-44-element-193:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-193:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-192:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-192:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-191:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-191:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-190:not(.depicter-hover-off){
	transition:all cubic-bezier(0.25, 1, 0.5, 1) 0.5s;
}
.depicter-revert .depicter-44-element-190:not(.depicter-hover-off):hover {
	transform:scale(0.85);
	border-color:transparent;
}
.depicter-revert .depicter-44-element-68{
	border-radius:46px;
}
.depicter-revert .depicter-44-element-53{
	font-size:17px;
	text-align:center;
	color:#FF2759;
	font-family:"Raleway";
	font-weight:500;
	text-transform:capitalize;
	background-color:#FFF;
	border-radius:60px;
}
.depicter-revert .depicter-44-element-53:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-44-element-53:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#FF2759;
	border-color:#000;
}
.depicter-revert .depicter-44-element-52{
	font-size:18px;
	text-align:left;
	color:#CBCBCB;
	font-family:"Raleway";
	font-weight:400;
	line-height:160%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-51{
	font-size:80px;
	text-align:left;
	color:#FF2759;
	font-family:"Raleway";
	font-weight:600;
	line-height:110%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-50{
	font-size:80px;
	text-align:left;
	color:#FF2759;
	font-family:"Raleway";
	font-weight:600;
	line-height:110%;
	text-transform:capitalize;
	direction:rtl;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-49{
	font-size:80px;
	text-align:left;
	color:#FFF;
	font-family:"Raleway";
	font-weight:600;
	line-height:114%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-48{
	font-size:17px;
	text-align:left;
	color:#FFBD10;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	text-transform:capitalize;
	direction:ltr;
	background-color:transparent;
}
.depicter-revert .depicter-44-element-54{
	box-shadow:0px 10px 40px 0px rgba(45, 253, 166, 0.2);
	transform:rotate(5deg);
	background-image:linear-gradient(0deg, #81F 0%, #2CFFA5 100%);
	border-radius:45px;
}
.depicter-revert .depicter-44-section-47 .depicter-section-background{
	background-color:#0C1014;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-44-element-8{
	border-radius:27px;
}
.depicter-revert .depicter-44-element-7{
	font-size:16px;
}
.depicter-revert .depicter-44-element-6{
	font-size:14px;
}
.depicter-revert .depicter-44-element-5{
	font-size:40px;
}
.depicter-revert .depicter-44-element-4{
	font-size:40px;
}
.depicter-revert .depicter-44-element-3{
	font-size:40px;
}
.depicter-revert .depicter-44-element-2{
	font-size:15px;
}
.depicter-revert .depicter-44-element-9{
	transform:rotate(4deg);
	border-radius:26px;
}
.depicter-revert .depicter-44-element-46{
	border-radius:27px;
}
.depicter-revert .depicter-44-element-32{
	font-size:16px;
}
.depicter-revert .depicter-44-element-31{
	font-size:14px;
}
.depicter-revert .depicter-44-element-30{
	font-size:40px;
}
.depicter-revert .depicter-44-element-29{
	font-size:40px;
}
.depicter-revert .depicter-44-element-28{
	font-size:40px;
}
.depicter-revert .depicter-44-element-27{
	font-size:15px;
}
.depicter-revert .depicter-44-element-34{
	transform:rotate(4deg);
	border-radius:26px;
}
.depicter-revert .depicter-44-element-68{
	border-radius:27px;
}
.depicter-revert .depicter-44-element-53{
	font-size:16px;
}
.depicter-revert .depicter-44-element-52{
	font-size:14px;
}
.depicter-revert .depicter-44-element-51{
	font-size:40px;
}
.depicter-revert .depicter-44-element-50{
	font-size:40px;
}
.depicter-revert .depicter-44-element-49{
	font-size:40px;
}
.depicter-revert .depicter-44-element-48{
	font-size:15px;
}
.depicter-revert .depicter-44-element-54{
	transform:rotate(4deg);
	border-radius:26px;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-44-element-8{
	border-radius:16px;
}
.depicter-revert .depicter-44-element-7{
	font-size:15px;
}
.depicter-revert .depicter-44-element-6{
	font-size:13px;
}
.depicter-revert .depicter-44-element-5{
	font-size:34px;
}
.depicter-revert .depicter-44-element-4{
	font-size:34px;
}
.depicter-revert .depicter-44-element-3{
	font-size:34px;
	line-height:120%;
}
.depicter-revert .depicter-44-element-2{
	font-size:14px;
}
.depicter-revert .depicter-44-element-9{
	transform:rotate(4deg);
	border-radius:16px;
}
.depicter-revert .depicter-44-element-46{
	border-radius:16px;
}
.depicter-revert .depicter-44-element-32{
	font-size:15px;
}
.depicter-revert .depicter-44-element-31{
	font-size:13px;
}
.depicter-revert .depicter-44-element-30{
	font-size:34px;
}
.depicter-revert .depicter-44-element-29{
	font-size:34px;
}
.depicter-revert .depicter-44-element-28{
	font-size:34px;
	line-height:120%;
}
.depicter-revert .depicter-44-element-27{
	font-size:14px;
}
.depicter-revert .depicter-44-element-34{
	transform:rotate(4deg);
	border-radius:16px;
}
.depicter-revert .depicter-44-element-68{
	border-radius:16px;
}
.depicter-revert .depicter-44-element-53{
	font-size:15px;
}
.depicter-revert .depicter-44-element-52{
	font-size:13px;
}
.depicter-revert .depicter-44-element-51{
	font-size:34px;
}
.depicter-revert .depicter-44-element-50{
	font-size:34px;
}
.depicter-revert .depicter-44-element-49{
	font-size:34px;
	line-height:120%;
}
.depicter-revert .depicter-44-element-48{
	font-size:14px;
}
.depicter-revert .depicter-44-element-54{
	transform:rotate(4deg);
	border-radius:16px;
}

}
