
.depicter-revert.depicter-7 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-7-element-22{
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:50% 50% 50% 50%;
}
.depicter-7-element-22 .depicter-symbol-container{
	fill:#ffffff;
}
.depicter-revert .depicter-7-element-23{
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:50% 50% 50% 50%;
}
.depicter-7-element-23 .depicter-symbol-container{
	fill:#ffffff;
}
.depicter-revert .depicter-7-element-21{
	font-size:40px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-20{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-19{
	font-size:16px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-18{
	font-size:25px;
	color:#FFF;
	font-family:"Noto Sans";
	font-weight:500;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-16{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-15{
	font-size:16px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-14{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-13{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-12{
	font-size:25px;
	color:#FFF;
	font-family:"Noto Sans";
	font-weight:500;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-7{
	font-size:14px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:500;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-7-element-7:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-7-element-7:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
	border-color:#707070;
}
.depicter-revert .depicter-7-element-6{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-5{
	font-size:65px;
	color:#FFF;
	font-family:"Inter";
	font-weight:500;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-4{
	font-size:16px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-74{
	border-radius:12px;
}
.depicter-revert .depicter-7-section-1 .depicter-section-background{
	background-color:#131313;
}
.depicter-revert .depicter-7-element-108{
	font-size:40px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-107{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-104{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-102{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-101{
	background-color:#FFF;
}
.depicter-revert .depicter-7-element-99{
	font-size:14px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:500;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-7-element-99:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-7-element-99:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
	border-color:#707070;
}
.depicter-revert .depicter-7-element-98{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-97{
	font-size:65px;
	color:#FFF;
	font-family:"Inter";
	font-weight:500;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-96{
	font-size:16px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-section-95 .depicter-section-background{
	background-color:#131313;
}
.depicter-revert .depicter-7-element-91{
	font-size:40px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-90{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-89{
	font-size:16px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-88{
	font-size:25px;
	color:#FFF;
	font-family:"Noto Sans";
	font-weight:500;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-87{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-86{
	font-size:16px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-85{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-84{
	background-color:#ffffff;
}
.depicter-revert .depicter-7-element-83{
	font-size:25px;
	color:#FFF;
	font-family:"Noto Sans";
	font-weight:500;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-82{
	font-size:14px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:500;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-7-element-82:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-7-element-82:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
	border-color:#707070;
}
.depicter-revert .depicter-7-element-81{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-80{
	font-size:65px;
	color:#FFF;
	font-family:"Inter";
	font-weight:500;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-79{
	font-size:16px;
	color:#FFF;
	font-family:"Raleway";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-7-element-93{
	border-radius:12px;
}
.depicter-revert .depicter-7-section-78 .depicter-section-background{
	background-color:#131313;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-7-element-18{
	font-size:25px;
	color:#FFF;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-12{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-5{
	font-size:60px;
	color:#FFF;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-97{
	font-size:60px;
	color:#FFF;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-88{
	font-size:25px;
	color:#FFF;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-83{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-80{
	font-size:60px;
	color:#FFF;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-7-element-21{
	font-size:30px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-7-element-19{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-7-element-18{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-15{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-7-element-12{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-6{
	font-size:12px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-7-element-5{
	font-size:30px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-108{
	font-size:30px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-7-element-98{
	font-size:12px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-7-element-97{
	font-size:30px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-91{
	font-size:30px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-7-element-89{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-7-element-88{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-86{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-7-element-83{
	font-size:20px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-7-element-81{
	font-size:12px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-7-element-80{
	font-size:30px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}

}
